{% extends 'Educ8/base.html' %}
{% load staticfiles %}


{% block title_block %}
  Account
{% endblock %}


{% block asset_block %}
  <link rel="stylesheet" href="{% static 'assets/styles/styles_form.css' %}">
  <script src="{% static 'assets/scripts/scripts_form.js' %}"></script>
{% endblock %}


{% block content_block %}

  <!-- Main page content -->
  <div class="content_panel">

    <h1 class="panel_title">My Account</h1>
    <hr>

    {% for error in errors %}
      <p class="error_message">{{ error }}.</p>
    {% endfor %}

    <form id="information_edit_form" method="post">
      {% csrf_token %}

      <input type="hidden" name="information_edit_form" >

      <h2 class="panel_heading">Edit your Details</h2>

      <div class="field">
        <label for="info_username">Username:</label>
        <br>
        <input type="text" name="info_username" minlength="4" maxlength="32" required value="{{ request.user.username }}" placeholder="Enter username...">
      </div>

      <div class="field">
        <label for="info_first_name">Forename(s):</label>
        <br>
        <input type="text" name="info_first_name" maxlength="32" required value="{{ request.user.first_name }}" placeholder="Enter forename(s)...">
      </div>

      <div class="field">
        <label for="info_last_name">Surname(s):</label>
        <br>
        <input type="text" name="info_last_name" maxlength="32" required value="{{ request.user.last_name }}" placeholder="Enter surname(s)">
      </div>

      <div class="field">
        <input class="btn" type="submit" value="Update Details">
      </div>

    </form>

    <hr>

    <form id="password_change_form" action="" method="post">
      {% csrf_token %}

      <input type="hidden" name="password_change_form" >

      <h2 class="panel_heading">Change your Password</h2>

      <div class="field">
        <label for="reset_old_password">Old password:</label>
        <br>
        <input type="password" name="reset_old_password" required placeholder="Enter current password...">
      </div>

      <div class="field">
        <label for="reset_old_password1">New password:</label>
        <br>
        <input type="password" name="reset_new_password1" minlength="9" maxlength="32" required placeholder="Create a new password...">
      </div>

      <div class="field">
        <label for="reset_old_password2">Repeat new password:</label>
        <br>
        <input type="password" name="reset_new_password2" minlength="9" maxlength="32" required placeholder="Re-type password...">
      </div>

      <div class="field">
        <input class="btn" type="submit" value="Change Password">
      </div>

    </form>

    <hr>

    <form id="delete_account_form" action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="delete_account_form">

      <h2 class="panel_heading">Delete your Account</h2>

      <p>If you are sure you want to delete your Educ8 account, enter your password then click delete.</p>
      <p>Beware this is <b>permanent</b> and <b>cannot be undone</b>.</p>

      <div class="field">
        <label for="password">Password:</label>
        <br>
        <input type="password" name="password" required placeholder="Enter your password to confirm deletion...">
      </div>

      <div class="field">
        <input class="btn danger" type="submit" value="Delete Account">
      </div>
    </form>

  </div>

{% endblock %}
