{% extends 'Educ8/base.html' %}
{% load staticfiles %}


{% block title_block %}
  Add Students
{% endblock %}


{% block asset_block %}
  <link rel="stylesheet" href="{% static 'assets/styles/styles_form.css' %}">
  <script src="{% static 'assets/scripts/scripts_form.js' %}"></script>
  <script src="{% static 'assets/scripts/scripts_add_students.js' %}"></script>
{% endblock %}


{% block content_block %}

  <!-- Main page content -->
  <div class="content_panel">

    <h1 class="panel_title">Add a Student</h1>
    <hr>

    <form>
      {% csrf_token %}

      {% for error in errors %}
        <p class="error_message">{{ error }}</p>
      {% endfor %}
      <p class="error_message" id="ajax_error"></p>

      <div class="field">
        <label for="add">Add Students:</label><br>
        <select name="add" id="selection_field">
          {% for student in available_students %}
            <option value="{{ student.username }}" username="{{ student.username }}">{{ student.first_name }} {{ student.last_name }} - {{ student.username }}</option>
          {% endfor %}
        </select>

      </div>

      <p>Currently enrolled:</p>
      <ul id="current_students">
        {% for student in enrolled_students %}
          <li>{{ student.first_name }} {{ student.last_name }} - {{ student.username }}</li>
        {% endfor %}
      </ul>

      <hr class="form_hr">

      <div class="field">
        <a class="btn" id="add_student">Add Student(s)</a>
      </div>
      <a class="btn" type="submit" href="{% url 'Educ8:show_course' course_name_slug=course %}">Back</a>

    </form>


  </div>

{% endblock %}
