{% extends 'Educ8/base.html' %}
{% load staticfiles %}


{% block title_block %}
  Create/Edit Flashcard
{% endblock %}


{% block asset_block %}
  <link rel="stylesheet" href="{% static 'assets/styles/styles_form.css' %}">
  <script src="{% static 'assets/scripts/scripts_form.js' %}"></script>
{% endblock %}


{% block content_block %}

  <!-- Main page content -->
  <div class="content_panel">

    <h1 class="panel_title">Create/Edit Flashcard</h1>
    <hr>

    <form class="" action="" method="post">
      {% csrf_token %}

      {% for error in errors %}
        <p class="error_message">{{ error }}</p>
      {% endfor %}

      <div class="field">
        <label for="title">Title:</label>
        <br>
        <input type="text" name="title" minlength="1" maxlength="128" value="{{ existing_flashcard.title }}" required placeholder="Enter title...">
      </div>

      <div class="field">
        <label for="question">Question Text:</label>
        <br>
        <textarea name="question" minlength="1" maxlength="1024" required placeholder="Enter question...">{{ existing_flashcard.question }}</textarea>
      </div>

      <div class="field">
        <label for="answer">Answer Text:</label>
        <br>
        <textarea name="answer" minlength="1" maxlength="1024" required placeholder="Enter answer...">{{ existing_flashcard.answer }}</textarea>
      </div>

      <hr class="form_hr">

      <div class="field">
        <input class="btn" type="submit" value="Save Card">
        <a class="btn" href="{% url 'Educ8:show_course' course_name_slug=course %}">Back to Course</a>
      </div>


    </form>

  </div>

{% endblock %}
