{% extends 'Educ8/base.html' %}
{% load staticfiles %}


{% block title_block %}
  Login
{% endblock %}


{% block asset_block %}
  <link rel="stylesheet" href="{% static 'assets/styles/styles_form.css' %}">
  <script src="{% static 'assets/scripts/scripts_form.js' %}"></script>
{% endblock %}


{% block content_block %}

  <!-- Main page content -->
  <div class="content_panel">

    <h1 class="panel_title">Login</h1>
    <hr>

    <form class="" method="post" action="{% url 'Educ8:forms/login' %}">

      {% csrf_token %}

      <p class="error_message"><b>Error:</b> Weight limit exceeded.</p>

      <div class="field">
        <label for="username">Username:</label>
        <br>
        <input type="text" name="username" minlength="4" maxlength="32" required placeholder="Enter username...">
      </div>

      <div class="field">
        <label for="password">Password:</label>
        <br>
        <input type="password" name="password" maxlength="1024" required placeholder="Enter password...">
      </div>

      <div class="field">
        <label for="user_type">I am a...</label>
        <br>
        <input type="radio" name="user_type" value="student" required>
        <label for="student">Student</label>
        <input type="radio" name="user_type" value="teacher" required>
        <label for="teacher">Teacher</label>
      </div>

      <hr class="form_hr">

      <div class="field">
        <input class="btn" type="submit" value="Login">
      </div>

      <p>Don't have an account? Register <a href="{% url 'Educ8:forms/register' %}"><b>here</b></a>.</p>

    </form>

  </div>

{% endblock %}
