{% extends 'Educ8/base.html' %}
{% load staticfiles %}


{% block title_block %}
  Register
{% endblock %}


{% block asset_block %}
  <link rel="stylesheet" href="{% static 'assets/styles/styles_form.css' %}">
  <script src="{% static 'assets/scripts/scripts_form.js' %}"></script>
{% endblock %}


{% block content_block %}

  <!-- Main page content -->
  <div class="content_panel">

    <h1 class="panel_title">Create an Account</h1>
    <hr>

    <form class="" method="post" action="{% url 'Educ8:forms/register' %}">

      {% csrf_token %}

      <p class="error_message"><b>Error:</b> You are not worthy of an Educ8&trade; account.</p>

      <div class="field">
        <label for="fname">Forename(s):</label>
        <br>
        <input type="text" name="fname" maxlength="32" required placeholder="Enter forename(s)...">
      </div>

      <div class="field">
        <label for="surname">Surname(s):</label>
        <br>
        <input type="text" name="surname" maxlength="32" required placeholder="Enter surname(s)">
      </div>

      <div class="field">
        <label for="fname">Username:</label>
        <br>
        <input type="text" name="username" minlength="4" maxlength="32" required placeholder="Create a username...">
      </div>

      <div class="field">
        <label for="password">Create a Password:</label>
        <br>
        <input type="password" name="password" minlength="9" maxlength="32" required placeholder="Create a password...">
      </div>

      <div class="field">
        <label for="confirm">Confirm Password:</label>
        <br>
        <input type="password" name="confirm" required placeholder="Re-type password...">
      </div>

      <div class="field">
        <label for="user_type">I am a...</label>
        <br>
        <input type="radio" name="user_type" value="student" required>
        <label for="student">Student</label>
        <input type="radio" name="user_type" value="teacher" required>
        <label for="teacher">Teacher</label>
      </div>

      <hr class="form_hr">

      <div class="field">
        <input type="checkbox" name="terms" required>
        <label for="terms"><i> I have read and accept the <a href="{% url 'Educ8:terms' %}" target="_blank"><b>Terms & Conditions</b></a>.</i></label>
      </div>

      <div class="field">
        <input class="btn" type="submit" value="Sign Up">
      </div>

      <p>Already have an account? Login <a href="{% url 'Educ8:forms/login' %}"><b>here</b></a>.</p>

    </form>

  </div>

{% endblock %}
