/* WAD2 Team Project "Educ8" | Flashcard Page Styles */


/* Flashcard panel */
.card_panel {
  border-radius: 20px;
  width: 90%;
  max-width: 750px;
  margin: 40px auto;
  padding: 30px 50px;
  min-height: 40vh;
  box-shadow: 0 0 6px #CCCCCC;
  transition: all 0.1s ease-in-out;
}
.card_panel:hover {
  filter: brightness(1.02);
  cursor: default;
}
.card_panel h2 {
  font-size: 40px;
}
.card_panel p {
  text-align: center;
  font-size: 22px;
  padding: 20px;
}
/* Buttons */
.button_container {
  width: 90%;
  max-width: 750px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_container button {
  margin: 0 20px;
  width: 50%;
}
p#answer {
  display: none;
}



/* Media Queries */

/* Split screen desktop/tablets */
@media screen and (max-width: 1500px) {

}

/* Phones */
@media screen and (max-width: 850px) {
  .button_container {
    display: block;
  }
  .button_container button {
    width: 100%;
    margin: 10px 0;
  }
}
