/* WAD2 Team Project "Educ8" | Homepage Styles */

.index_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 30vh;
}
.index_buttons .btn {
  width: 40%;
  margin: 20px;
  height: 100px;
  font-size: 40px;
  padding: 24px;
}


/* Media Queries */

/* Split screen desktop/tablets */
@media screen and (max-width: 1500px) {

}

/* Phones */
@media screen and (max-width: 850px) {

}
