/* WAD2 Team Project "Educ8" | "My Courses" Page Styles */

/* Tiles */
.course_tiles {
  margin: 5vh auto;
}
.course_tiles .tile {
  overflow: hidden;
  height: 300px;
  width: calc(99%/3);
  display: inline-block;
  border-radius: 10px;
  padding: 30px 30px 0 30px;
  margin: 8px 0;
  transform: scale(0.95);
  box-shadow: 0 0 6px gray;
  transition: all 0.1s ease-in-out;
}
.course_tiles .tile:hover {
  box-shadow: 0 0 20px #BBBBBB;
  filter: brightness(1.04);
  transform: scale(0.97);
}
.course_tiles h2 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 38px;
  color: black;
  overflow-wrap: break-word;
}
.course_tiles p {
  font-size: 22px;
  text-align: center;
  color: black;
}
.course_tiles hr {
  color: white;
}
.course_tiles a:link:hover {
  text-decoration: none;
}

/* "Create a Course" Button */
.create_tile {
  text-align: center;
}
.create_tile a {
  font-size: 110px;
  color: #C8FF8C;
  transition: all 0.1s ease-in-out;
}
.create_tile a:hover {
  transform: scale(1.2);
  filter: brightness(1.1);
}
.create_tile p {
  color: black;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 26px;
  margin-bottom: 22px;
}



/* Media Queries */

/* Split screen desktop/tablets */
@media screen and (max-width: 1500px) {
  .course_tiles .tile {
    width: calc(99%/2);
  }
}

/* Phones */
@media screen and (max-width: 850px) {
  .course_tiles .tile {
    width: 100%;
  }
}
