/* WAD2 Team Project "Educ8" | Global Styles */


/*

Colours Used:
  white;
  #60a7ce;
  #6bb2d9;
  #EEEEEE;
	gray;

Fonts Used:
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Open Sans', sans-serif;

*/



/* General */
body, html {
	height: 100%;
	width: 100%;
	margin: 0;
  padding: 0;
  background-color: #EEEEEE;
  font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h6 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: normal;
}

/* Page min height so footer doesn't float */
.content {
	min-height: calc(100vh - 135px);
}

/* Links */
a:link {
  text-decoration: none;
  color: #60a7ce;
}
a:visited {
  text-decoration: none;
  color: #60a7ce;
}
a:hover {
  text-decoration: underline;
	color: #6bb2d9;
}
a:active {
  text-decoration: none;
  color: #6bb2d9;
}

/* Highlight Styles */
::selection {
	background: #6bb2d9;
	color: white;
}
::-moz-selection {
	background: #6bb2d9;
	color: white;
}

/* Horizontal Rule */
hr {
	border-style: lightgray;
}

/* Navigation/Header Bar */
nav {
  height: 60px;
  background-color: #60a7ce;
  padding-left: 3vw;
  padding-right: 3vw;
  color: white;
  box-shadow: 0 0 6px gray;
}
nav img {
  height: 90%;
  float: left;
  padding: 0;
  margin: 0;
	transition: all 0.1s ease-in-out;
}
nav img:hover {
	transform: scale(1.04);
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li {
	float: right;
}
nav li a {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight: normal;
	font-size: 22px;
	display: block;
	text-align: center;
	padding: 16px;
	text-decoration: none;
  transition: all 0.1s ease-in-out;
}
nav li a:link {
  color: white;
}
nav li a:visited {
  color: white;
}
nav li a:hover {
  text-decoration: none;
	transform: scale(1.08);
}
.logged {
	margin-right: 10px;
}
.logged a:hover {
	text-decoration: none;
	transform: none;
	color: white;
	cursor: default;
}

/* Main Panel */
.content_panel {
  background-color: white;
  margin: 4vh 4vw;
  box-shadow: 0 0 6px #CCCCCC;
  border-radius: 10px;
  width: 75vw;
	max-width: 1600px;
  margin-left: auto;
	margin-right: auto;
  padding: 2vh 5vw 4vh 5vw;
}

h1.panel_title {
  font-size: 64px;
}
h2.panel_subtitle {
	margin-top: -20px;
	margin-bottom: 40px;
}
h2.panel_heading {
	font-size: 32px;
}

/* Buttons */
.btn {
	padding: 10px 20px;
  background-color: #60a7ce;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 24px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  box-shadow: 0 0 4px gray;
  transition: all 0.1s ease-in-out;
}
.btn:hover {
	transform: scale(1.04);
	cursor: pointer;
	filter: brightness(1.04);
}
a.btn {
	color: white;
}
a.btn:hover {
	text-decoration: none;
	transform: scale(1.04);
	filter: brightness(1.04);
}
.danger {
	background-color: #dc3545  !important;
}

/* Footer */
footer {
	height: 100px;
	background-color: #60a7ce;
	font-size: 26px;
	text-align: center;
	line-height: 0;
  box-shadow: 0 0 6px #CCCCCC;
	font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: bold;
	z-index: 1000;
}
footer h4 {
	color: white;
	transform: translate(0, 34px);
  cursor: default;
}
footer p {
	color: white;
	font-size: 22px;
	transform: translate(0, 30px);
  cursor: default;
}
footer a:link {
	color: white;
}
footer a:visited {
	color: white;
}

/* Back to Top Button */
#back2top {
  display: inline-block;
  background-color: #60a7ce;
	background-image: url("../icons/scroll_arrow.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 4px #CCCCCC;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .15s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
#back2top:hover {
  cursor: pointer;
  background-color: #6bb2d9;
}
#back2top:active {
  background-color: lightgray;
}
#back2top.show {
  opacity: 1;
  visibility: visible;
}


/* Media Queries */

/* Split screen desktop/tablets */
@media screen and (max-width: 1500px) {
  .content_panel {
    width: 90vw;
  }
}

/* Phones */
@media screen and (max-width: 850px) {
  .content_panel {
    width: 96vw;
  }
	.logged {
		display: none;
	}
	#back2top {
		width: 80px;
		height: 80px;
		border-radius: 8px;
	}
	nav img {
		display: none;
	}
	nav {
		display: grid;
		grid-template-columns: auto auto auto;
		align-content: space-evenly;
		width: 100%;
		height: 80px;
		padding-right: 4vw;
	}
	nav li a {
		font-size: 26px;
		margin: 0;
	}
	.btn {
		width: 100%;
		display: block;
	}
}
