/* WAD2 Team Project "Educ8" | Course Page Styles */

/* Files section */
.files_container {
  margin-bottom: 30px;
}
.files_container .file {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 2px;
  width: calc(99%/2);
  padding: 2px 20px;
  transform: scale(0.96);
}
.files_container p {
  font-family: monospace;
  float: left;
  max-width: 24vw;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: -30px;
}
.files_container a {
  float: right;
  font-size: 20px;
  margin-top: 2px;
  padding: 10px 12px;
  background: none;
  border-radius: 5px;
  border: none;
  color: #60a7ce;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.files_container a:hover {
  color: #6bb2d9;
  transform: scale(1.1);
  background-color: #EEEEEE;
}

/* Flashcard tiles */
.flashcard_container .flashcard_tile {
  overflow: hidden;
  height: 280px;
  width: calc(99%/3);
  display: inline-block;
  border-radius: 10px;
  padding: 6px 30px 12px 30px;
  margin: 8px 0;
  transform: scale(0.95);
  box-shadow: 0 0 6px gray;
  transition: all 0.1s ease-in-out;
}
.flashcard_container .flashcard_tile:hover {
  box-shadow: 0 0 20px #BBBBBB;
  filter: brightness(1.04);
  transform: scale(0.97);
}
.flashcard_container h2 {
  font-size: 28px;
  margin: none;
  padding: none;
}
.flashcard_container p {
  font-size: 20px;
}
.flashcard_container a.flashcard_button {
  float: left;
  font-size: 18px;
  background: none;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  padding: 12px;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  color: black;
}
.flashcard_container a.flashcard_button:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
  background-color: inherit;
  text-decoration: none;
}
.flashcard_container .button_tile {
  text-align: center;
  padding-top: 30px;
}
.flashcard_container .button_tile a {
  font-size: 120px;
  transition: all 0.1s ease-in-out;
}
.flashcard_container .button_tile a:hover {
  transform: scale(1.2);
  filter: brightness(1.1);
}
.flashcard_container .button_tile p {
  color: black;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 26px;
  margin: 0;
}
a.revise_button {
  color: #EEEE11;
}
a.add_button {
  color: #C8FF8C;
}

/* Administration section */
.admin_container {
  margin-bottom: 100px;
}
.admin_container input {
  float: left;
  margin-right: 16px;
}

/* No content to display */
p.no_content {
  display: inline;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 40px;
  float: none;
}


/* Media Queries */

/* Split screen desktop/tablets */
@media screen and (max-width: 1500px) {
  .course_files p {
    max-width: 28vw;
  }
  .flashcard_container .flashcard_tile {
    width: calc(99%/2);
  }
}

/* Phones */
@media screen and (max-width: 850px) {

  .flashcard_container .flashcard_tile {
    width: 100%;
  }
  .flashcard_container a.flashcard_button {
    font-size: 20px;
  }

  .course_files .file {
    width: 100%;
  }
  .course_files p {
    max-width: 60vw;
  }
  .files_container .file {
    height: 70px;
  }
  .files_container p {
    font-size: 20px;
  }
  .files_container a {
    font-size: 30px;
  }

  .admin_container {
    margin-bottom: 220px;
  }
  .admin_container input {
    height: 60px;
    margin: 10px 0;
  }

}
