{% extends 'Educ8/base.html' %}
{% load staticfiles %}


{% block title_block %}
  THE COURSE NAME
{% endblock %}


{% block asset_block %}
  <link rel="stylesheet" href="{% static 'assets/styles/styles_course.css' %}">
  <script src="{% static 'assets/scripts/scripts_course.js' %}"></script>
{% endblock %}


{% block content_block %}

<!-- Main page content -->
<div class="content_panel">

  <h1 class="panel_title">Knitting Essentials</h1>
  <h2 class="panel_subtitle">The Rt Hon. Bobby McBobson Jr. MBE</h2>
  <hr>

  <!-- MICHAEL THIS BIT ONLY APPEARS IF THE USER IS A TEACHER -->
  <!-- Administration section -->
  <section class="admin">
    <h2 class="panel_heading">Administration</h2>

    <div class="admin_container">
      <button class="btn" type="button" name="add_files">Add File(s)</button>
      <button class="btn" type="button" name="add_files">Add Student(s)</button>
    </div>
  </section>
  <!-- TO HERE -->

  <hr>

  <!-- Course files section -->
  <section class="course_files">
    <h2 class="panel_heading">Course Files</h2>

    <div class="files_container">

      <!-- MICHAEL THIS IS THE BIT THAT NEEDS LOOPED THROUGH -->
      <div class="file">
        <p>guide_to_yarn.pdf</p>
        <a title="Download File" class="tooltip">
          <button type="button" name="download"><i class="fa fa-download"></i></button>
        </a>
      </div>
      <!-- TO HERE -->

    </div>

  </section>

  <hr>

  <!-- Flashcards section -->
  <section class="flashcards">
    <h2 class="panel_heading">Course Flashcards</h2>

      <div class="flashcard_container">

        <!-- MICHAEL THIS IS THE BIT THAT ALSO NEEDS LOOPED THROUGH -->
        <div class="flashcard_tile">
          <h2>Knitting & Purling</h2>
          <hr>
          <p>What is the difference between a knit stitch and a purl stitch?</p>
          <hr>
          <button type="button" name="edit"><i class="fa fa-pen-to-square"></i> Edit</button>
          <button type="button" name="delete"><i class="fa fa-trash-can"></i> Delete</button>
        </div>
        <!-- TO HERE -->

        <!-- MICHAEL THIS ONLY APPEARS IF THE USER IS A STUDENT AND THERE IS AT LEAST ONE CREATED CARD -->
        <div class="flashcard_tile button_tile">
          <a class="revise_button" href="#">
            <i class="fa fa-circle-arrow-right"></i>
            <br>
            <p>Revise Flashcards</p>
          </a>
        </div>
        <!-- TO HERE -->

        <!-- MICHAEL THIS ONLY APPEARS IF THE USER IS A STUDENT -->
        <div class="flashcard_tile button_tile">
          <a class="add_button" href="add_or_edit_flashcard.html">
            <i class="fa fa-circle-plus"></i>
            <br>
            <p>Create a New Flashcard</p>
          </a>
        </div>

      </div>

  </section>

</div>

{% endblock %}
