{% extends 'Educ8/base.html' %}
{% load staticfiles %}


{% block title_block %}
  {{ course.courseName }}
{% endblock %}


{% block asset_block %}
  <link rel="stylesheet" href="{% static 'assets/styles/styles_course.css' %}">
  <script src="{% static 'assets/scripts/scripts_course.js' %}"></script>
{% endblock %}


{% block content_block %}

<!-- Main page content -->
<div class="content_panel">

  <h1 class="panel_title">{{ course.courseName }}</h1>
  <h2 class="panel_subtitle">{{ course.createdBy.first_name }} {{ course.createdBy.last_name }}</h2>


  {% if current_user.is_teacher %}
    <!-- Administration section -->
    <hr>
    <section class="admin">
      <h2 class="panel_heading">Administration</h2>

      <div class="admin_container">
        <form action="{% url 'Educ8:forms/add_students' course_name_slug=course.slug %}">
          <input class="btn" type="submit" value="Add Student(s)"/>
        </form>
        <form action="{% url 'Educ8:forms/add_files' course_name_slug=course.slug %}">
          <input class="btn" type="submit" value="Add File(s)"/>
        </form>

      </div>
    </section>
  {% endif %}

  <hr>

  <!-- Course files section -->
  <section class="course_files">
    <h2 class="panel_heading">Course Files</h2>

    <div class="files_container">

      {% for file in files %}
        <div class="file">
          <p>{{ file.filename }}</p>
          <a title="Download File" class="tooltip">
            <button type="button" name="download"><i class="fa fa-download"></i></button>
          </a>
        </div>
      {% endfor %}

    </div>

  </section>

  <hr>

  <!-- Flashcards section -->
  <section class="flashcards">
    <h2 class="panel_heading">Course Flashcards</h2>

      <div class="flashcard_container">

        {% for flashCard in flashCards %}
          <div class="flashcard_tile">
            <h2>{{ flashCard.title }}</h2>
            <hr>
            <p>{{ flashCard.question }}</p>
            <hr>
            {% if current_user == flashCard.createdBy %}
              <a href="{% url 'Educ8:forms/edit_flashcard' course_name_slug=course.slug flashcard_id=flashCard.id %}" type="button" name="edit"><i class="fa fa-pen-to-square"></i> Edit</a>
              <a href="{% url 'Educ8:delete_flashcard' course_name_slug=course.slug flashcard_id=flashCard.id %}" type="button" name="delete"><i class="fa fa-trash-can"></i> Delete</a>
            {% endif %}
            {% if current_user.is_teacher %}
              <a href="{% url 'Educ8:delete_flashcard' course_name_slug=course.slug flashcard_id=flashCard.id %}" type="button" name="delete"><i class="fa fa-trash-can"></i> Delete</a>
            {% endif %}
          </div>
        {% endfor %}

        {% if current_user.is_student %}
          {% if flashCards|length > 0 %}
            <div class="flashcard_tile button_tile">
              <a class="revise_button" href="{% url 'Educ8:show_flashcard' course_name_slug=course.slug flashcard_id=flashCards.0.id %}">
                <i class="fa fa-circle-arrow-right"></i>
                <br>
                <p>Revise Flashcards</p>
              </a>
            </div>
          {% endif %}
        {% endif %}

        {% if current_user.is_student %}
          <div class="flashcard_tile button_tile">
            <a class="add_button" href="{% url 'Educ8:forms/add_flashcard' course_name_slug=course.slug %}">
              <i class="fa fa-circle-plus"></i>
              <br>
              <p>Create a New Flashcard</p>
            </a>
          </div>
        {% endif %}

      </div>

  </section>

</div>

{% endblock %}
