{% extends 'Educ8/base.html' %}
{% load staticfiles %}


{% block title_block %}
  Home
{% endblock %}


{% block asset_block %}
  <link rel="stylesheet" href="{% static 'assets/styles/styles_index.css' %}">
  <script src="{% static 'assets/scripts/scripts_index.js' %}"></script>
{% endblock %}


{% block content_block %}

  <!-- Main page content -->
  <div class="content_panel">

    <h1 class="panel_title">Welcome to Educ8&trade;</h1>
    <h2 class="panel_subtitle">The Greatest Online Learning Platform (GOLP)</h2>
    <hr>

    <marquee><sub>🍆🍆🍆🍆🍆</sub></marquee>

    <hr>
    <h1>Get Educ8'd</h1>
    <!-- Buttons Section -->
    <section class="index_buttons">

      {% if user.is_authenticated %}
        <a class="btn" href="{%url 'Educ8:my_courses'%}">My Courses</a>
      {% else %}
        <a class="btn" href="{%url 'Educ8:forms/login'%}">Login</a>
        <a class="btn" href="{%url 'Educ8:forms/register'%}">Register</a>
      {% endif %}

    </section>


    <hr>
    <section>
      <h1>About us</h1>
      <p>We are a group of second year university students, operating to create and implement
      next generation technologies to rapidly accelerate the rate of learning and to easen
      the burden of teaching or something.</p>
      <p>Our site allows users to:</p>
      <ul>
        <li>Create courses and enroll their students!</li>
        <li>Add content such as a files and flashcards to courses!</li>
        <li>Revise content content using our state-of-the-art revision page!</li>
        <li>"Other"!</li>
      </ul>
      <p>So stop reading this text and get Educ8'd now!*</p>
      <p><sup>*(<a href="{%url 'Educ8:terms'%}" target="_blank">Terms & Conditions</a> apply)</sup></p>
      <p><a id="activate_cat">.</a></p>
    </section>

    <hr>
    <section class="cat_use">
      <h1>Cat (for cat use)</h1>
      <img src="{% static 'assets/images/important_content.jpg' %}" alt="Important Content" width="500">
    </section>
    <br>


  </div>

{% endblock %}
