{% extends 'Educ8/base.html' %}
{% load staticfiles %}


{% block title_block %}
  Home
{% endblock %}


{% block asset_block %}
  <link rel="stylesheet" href="{% static 'assets/styles/styles_index.css' %}">
{% endblock %}


{% block content_block %}

  <!-- Main page content -->
  <div class="content_panel">

    <h1 class="panel_title">Welcome to Educ8&trade;</h1>
    <h2 class="panel_subtitle">The Greatest Online Learning Platform (GOLP)</h2>
    <hr>

    <marquee><sub>🍆🍆🍆🍆🍆</sub></marquee>

    <hr>

    <!-- Buttons Section -->
    <section class="index_buttons">

      {% if user.is_authenticated %}
        <a class="btn" href="{%url 'Educ8:my_courses'%}">My Courses</a>
      {% else %}
        <a class="btn" href="{%url 'Educ8:forms/login'%}">Login</a>
        <a class="btn" href="{%url 'Educ8:forms/register'%}">Register</a>
      {% endif %}

    </section>


    <hr>
    <h1>About us</h1>
    <p>We are a group of second year university students, operating to create and implement
    next generation technologies to rapidly accelerate the rate of learning and to easen
    the burden of teaching or something.</p>

    <!--
    <h1>Quick Navigation (for debugging use)</h1>
    <h3>Main Pages:</h3>
    <ul>
      <li>Home (you are here!)</li>
      <li><a href="{% url 'Educ8:my_courses' %}">My Courses</a></li>
      <li><a href="#">Course</a> (Link not working)</li>
      <li><a href="#">Revise Flashcard</a> (Link not working)</li>
    </ul>
    <h3>Forms:</h3>
    <ul>
      <li><a href="{% url 'Educ8:forms/login' %}">Login</a></li>
      <li><a href="{% url 'Educ8:forms/register' %}">Register</a></li>
      <li><a href="{% url 'Educ8:forms/add_course' %}">Add Course</a></li>
      <li><a href="#">Add Students</a> (Link not working)</li>
      <li><a href="#">Add Files</a> (Link not working)</li>
      <li><a href="#">Add/Edit Flashcard</a>(Link not working)</li>
    </ul>
    <h3>"Other":</h3>
    <ul>
      <li><a href="{% url 'Educ8:terms' %}">Terms & Conditions</a></li>
    </ul>
    <br>
  -->

    <hr>
    <h1>Cat (for cat use)</h1>
    <img src="{% static 'assets/images/important_content.jpg' %}" alt="Important Content" width="500">
    <br>


  </div>

{% endblock %}
