{% extends 'Educ8/base.html' %}
{% load staticfiles %}


{% block title_block %}
  Home
{% endblock %}


{% block content_block %}

  <!-- Main page content -->
  <div class="content_panel">

    <h1 class="panel_title">Welcome to Educ8&trade;</h1>
    <h2 class="panel_subtitle">The Greatest Online Learning Platform (GOLP)</h2>
    <hr>

    <marquee><sub>a</sub></marquee>
    <hr>

    <h1>Quick Navigation (for debugging use)</h1>
    <h3>Main Pages:</h3>
    <ul>
      <li>Home (you are here!)</li>
      <li><a href="{% url 'Educ8:my_courses' %}">My Courses</a></li>
      <li><a href="course.html">Course</a></li>
      <li><a href="flashcard.html">Revise Flashcard</a></li>
    </ul>
    <h3>Forms:</h3>
    <ul>
      <li><a href=login.html>Login</a></li>
      <li><a href=register.html>Register</a></li>
      <li><a href=add_course.html>Add Course</a></li>
      <li><a href=add_students.html>Add Students</a></li>
      <li><a href=add_files.html>Add Files</a></li>
      <li><a href=add_or_edit_flashcard.html>Add/Edit Flashcard</a></li>
    </ul>
    <h3>Templates & "Other":</h3>
    <ul>
      <li><a href="template.html">Template Page</a></li>
      <li><a href="form_template.html">Form Template</a></li>
      <li><a href="terms.html">Terms & Conditions</a></li>
    </ul>
    <br>

    <hr>
    <h1>Cat (for cat use)</h1>
    <img src="{% static 'assets/images/important_content.jpg' %}" alt="Important Content" width="500">
    <br>


  </div>

{% endblock %}
