{% extends 'Educ8/base.html' %}
{% load staticfiles %}


{% block title_block %}
  My Courses
{% endblock %}


{% block asset_block %}
  <link rel="stylesheet" href="{% static 'assets/styles/styles_my_courses.css' %}">
  <script src="{% static 'assets/scripts/scripts_my_courses.js' %}"></script>
  <script src="{% static 'assets/scripts/worlds_worst_algorithm.js' %}"></script>
{% endblock %}


{% block content_block %}

  <!-- Main page content -->
  <div class="content_panel">

    <h1 class="panel_title">{{ name }}'s Courses</h1>
    <hr>

    <!-- Course tiles -->
    <section class="course_tiles">


      {% for course in courses %}
        <div class="tile">
          <a href="{% url 'Educ8:show_course' course_name_slug=course.slug %}">
            <h2>{{ course.courseName }}</h2>
            <hr>
            <p>{{ course.createdBy.first_name }} {{ course.createdBy.last_name }}</p>
          </a>
        </div>
      {% endfor %}

      <!-- temporary -->
      {% if current_user.is_teacher %}
        <a href="{% url 'Educ8:forms/add_course' %}">add course</a>
      {% endif %}

      {% if not courses %}
        <p>You are not enrolled in any courses.</p>
      {% endif %}



    </section>

  </div>

{% endblock %}
