{% extends 'Educ8/base.html' %}
{% load staticfiles %}


{% block title_block %}
  Terms and Conditions
{% endblock %}


{% block asset_block %}
  <style media="screen">

  a#soul {
    color: white;
    cursor: default;
  }
  a#soul::selection {
    background: #FFFFFE;
  	color: white;
  }

  </style>
{% endblock %}


{% block content_block %}

  <!-- Main page content -->
  <div class="content_panel">

    <h1 class="panel_title">Terms & Conditions</h1>
    <hr>

    <p>By signing up for an Educ8&trade; account, you agree you:</p>
    <ol>
      <li>not hack us</li>
      <li></li>
      <li></li>
      <li><a id="soul">we own your soul</a></li>
      <li>get Educ8'd</li>
      <li><sup><sup><sub><sub><sub>no refunds<sub></sub></sub></sup></sup></li>
    </ol>
    <br>

  </div>

{% endblock %}
