/* WAD2 Team Project "Educ8" | Course Page Styles */

/* Files section */
.files_container {
  margin-bottom: 30px;
}
.files_container .file {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 2px;
  width: calc(99%/2);
  padding: 2px 20px;
  transform: scale(0.96);
}
.files_container p {
  font-family: monospace;
  float: left;
  max-width: 24vw;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.files_container button {
  float: right;
  font-size: 20px;
  margin-top: 4px;
  padding: 10px 12px;
  background: none;
  border-radius: 5px;
  border: none;
  color: #60a7ce;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.files_container button:hover {
  color: #6bb2d9;
  transform: scale(1.1);
  background-color: #EEEEEE;
}

/* Flashcard tiles */
.flashcard_container .flashcard_tile {
  width: calc(99%/3);
  display: inline-block;
  border-radius: 10px;
  padding: 30px 30px 0 30px;
  margin: 0px;
  transform: scale(0.95);
  box-shadow: 0 0 6px gray;
  transition: all 0.1s ease-in-out;
}
.flashcard_container .flashcard_tile:hover {
  box-shadow: 0 0 20px #BBBBBB;
  filter: brightness(1.04);
  transform: scale(0.97);
}
.flashcard_container h2 {
  margin: none;
  padding: none;
}
.flashcard_container button {
  float: left;
  background: none;
  border: none;
  cursor: pointer;
  padding: 12px;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
.flashcard_container button:hover {
  transform: scale(1.1);
  background-color: #EEEEEE;
}


/* Media Queries */

/* Split screen desktop/tablets */
@media screen and (max-width: 1500px) {
  .course_files p {
    max-width: 28vw;
  }
  .flashcard_container .flashcard_tile {
    width: calc(99%/2);
  }
}

/* Phones */
@media screen and (max-width: 850px) {
  .course_files .file {
    width: 100%;
  }
  .course_files p {
    max-width: 60vw;
  }
  .flashcard_container .flashcard_tile {
    width: 100%;
  }
}
